google:
  client_id: 
  client_secret: 
  scope: https://www.googleapis.com/auth/latitude.all.best+https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/userinfo.email
  redirect_uri: http://localhost:3030/callbacks/google.json
  server_port: 3030
  user_email: 'test@example.com'
  user_password: 'password'
facebook:
  client_id:
  client_secret:
  scope: publish_checkins